@font-face {
  font-family: "fontover";
  src: url(../font/Font-Over.woff) format("woff");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  overflow: hidden;
  background: black;
  text-align: center;
  color: white;
  font-family: "fontover", sans-serif;
}

.title span:nth-child(1) {
  color: #1629b3;
}
.title span:nth-child(2) {
  color: #efb927;
}
.title span:nth-child(3) {
  color: #c20e95;
}
.title span:nth-child(4) {
  color: #127912;
}
.title span:nth-child(5) {
  color: #1eaca7;
}
.title span:nth-child(6) {
  color: #5415a2;
}
.title span:nth-child(7) {
  color: #5b685f;
}
.title span:nth-child(8) {
  color: #78745f;
}
.title span:nth-child(9) {
  color: #755c5c;
}
.title span:nth-child(10) {
  color: #6e7683;
}

.wrap .title {
  font-weight: 700;
  font-size: 6rem;
  margin: 150px 0 100px;
}
.wrap .title > span {
  position: relative;
  top: 0;
  -webkit-animation-name: upAni;
          animation-name: upAni;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
.wrap .title > span:nth-child(1) {
  color: #1629b3;
}
.wrap .title > span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.wrap .title > span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.wrap .title > span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.wrap .title > span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.wrap .title > span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.wrap .title > span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.wrap .title > span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.wrap .title > span:nth-child(9) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.wrap .title > span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes upAni {
  100% {
    top: -15px;
  }
}
@keyframes upAni {
  100% {
    top: -15px;
  }
}
.wrap .how > p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.wrap .how > ul {
  font-size: 15px;
  color: #ccc;
}
.wrap .how > ul > li {
  display: inline-block;
}
.wrap a {
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #000;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 70px 0;
  font-size: 35px;
}
.wrap a:hover {
  color: #fff;
  background: #000;
}