*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body{
    height: 100%;
    overflow: hidden;
    background: black;
    text-align: center;
    color: white;
}
h1{
    font-family: "fontover", sans-serif;
    font-weight: 700;
    margin:50px 0 0;
}
.title > span:first-child{
    color: #1629b3;
}
.title > span:nth-child(2){
    color: #efb927;
}
.title > span:nth-child(3){
    color: #c20e95;
}
.title > span:nth-child(4){
    color: #127912;
}
.title > span:nth-child(5){
    color: #1eaca7;
}
.title > span:nth-child(6){
    color: #5415a2;
}
.title > span:nth-child(7){
    color: #5b685f;
}
.title > span:nth-child(8){
    color: #78745f;
}
.title > span:nth-child(9){
    color: #755c5c;
}
.title > span:nth-child(10){
    color: #6e7683;
}
.game-text{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    font-family: "fontover", sans-serif;
    font-size: 50px;
}
.game-text >button{
    padding:  0.5rem 2rem;
    color: #000;
    background: #ccc;
    border: 2px solid #ccc;
    cursor: pointer;
    margin: 100px 0;
    font-family: "fontover", sans-serif;
    font-size: 15px;
}
.game-text > button:hover{
    color: #ccc;
    background: #000;
    border: 2px solid #ccc;
}
.score{
    margin: 2rem 0;
    font-family: "fontover", sans-serif;
    font-size: 20px;
}
.playground > ul{
    border: 1px solid #333;
    width: 250px;
    margin: 0 auto;
}
.playground > ul >li{
    width: 100%;
    height: 25px;
}
.playground > ul >li >ul{
    display: flex;
}
.playground > ul > li > ul > li{
    width: 25px;
    height: 25px;
    outline: 1px solid #333;
}
.tree{
    background: #1629b3;
}
.square{
    background:#efb927;
}
.bar{
    background: #c20e95;
}
.zee{
    background: #127912;
}
.elLeft{
    background: #1eaca7;
}
.elRight{
    background: #5415a2;
}
